@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="~/Content/User/layout.css" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/bootstrap.js"></script>

<link href="~/Content/User/css/bootstrap.min.css" rel="stylesheet">



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>
</head>


<body property="og:image" background="~/Content/Images/fk.png">
    @section UserPagesSection
    {
        <li> <a href="/User/Index"> <span class=""></span> Home </a></li>
        <li> <a href="/User/Profile"> <span class=""></span> Profile </a></li>
        <li class="active"> <a href="/User/Chat"> <span class=""></span> Chat </a></li>

    <li> <a href="/User/RandomChat"> <span class=""></span> RandChat </a></li>
<li> <a href="/User/Conversation"> <span class=""></span> Conversations </a></li>

        <li> <a href="/User/EditProfile"> <span class=""></span> Profile Edition </a></li>

    }




    <div class="row">


        <div class="col-xs-3">
            <p class="list-group-item   active">Your Links</p>
            <div class="list-group">

@foreach (FP.Models.User u in Model)
{   
    
    <a href="/User/LoadChatWithSpecificLink/@u.UID" class="list-group-item ">
        @{ String name = @u.FName + " "+@u.LName;
                       
        }
       @name </a>
}
            </div>
        </div>



        <div id="comments" class="col-xs-8">
            <h2>@ViewBag.ChatWithNAME</h2>
            
        
            <ul class="commentlist">


                @foreach(FP.Models.Message m in ViewBag.MessagesList )
                {
                    String styleClass="";
                    String senderName = "";
                            if(   m.SenderID  ==  (int)Session["UID"]   )
                            {
                                styleClass = "comment_even";
                                senderName = (String)Session["Fname"] ;
                            }
                            else
                            {
                                //"@("/Content/Images/DPs/" + u.UID.ToString() + ".jpg")"
                                styleClass = "comment_odd";
                                senderName = @ViewBag.ChatWithNAME;
                            }


                     <li class=@styleClass>
                            <div class="author">
                     <img src="@("/Content/Images/DPs/" +m.SenderID.ToString() + ".jpg")"
                             height="50" width="50" />
                           

                                <span class="name">
                                    <a href="#">@senderName</a>
                                </span>
                            </div>

                            

                    @if (!m.Statement.Equals("NO"))
                    {
                       

                            <p>
                                @m.Statement
                            </p>

                     }
                     @if(!m.MsgImage.Equals("NO"))//pic msg
                     {
                         <br />
                         <img src=@m.MsgImage height="300" width="400" />

                     }

                         <div class="submitdate">
                             <span class="badge">@m.MessageTime</span>
                         </div>

                         @if (m.Seen != null && m.MID == ViewBag.LastMsgID)
                         { 
                         if (m.Seen.Equals("YES"))
                         {
                             <div class="submitdate">
                                 <span class="badge">Seen</span>
                             </div>
                         }
                         }
                        </li>
                }





            </ul>



            <div class="row">

                <h2>Write Your Reply</h2>

                <div id="respond" class="col-xs-6">
                    <form action="/User/SaveMessageInDB" method="post">
                        
                        <input type="hidden" name="ReceiverID" value=@ViewBag.ChatterIDR >
                        <p>
                            <label   style="display:none;"><h1>Message</h1></label>
                            <textarea name="Statement"   required cols="50" rows="10"></textarea>

                        </p>
                        <p>
                            <input name="submit" type="submit" id="submit"  value="Send" />
                            &nbsp;
                            <input name="reset" type="reset" id="reset" tabindex="5" value="Reset" />
                        </p>
                    </form>
                </div>

                <div class="col-xs-1"></div>
                <br />
                <br />
                <br />
                <br />
                <br />

                <div class="col-xs-3">
                    <form action="/User/SaveMessagePicInDP" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="ReceiverID" value=@ViewBag.ChatterIDR>

                        Upload Image: <input type="file" required name="image" />



                        <input type="submit" value="upload"   />
                    </form>
                </div>

            </div>



        </div>


    </div>

</body>
</html>
